.form {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .form .pageTitle {
    margin: 10px auto 10px auto;
  }
  
  .form .textField {
    margin: 10px auto 10px auto;

  }
  
  .button {
    margin-top: 20px;

  }
  
  .customError {
    color: red;
    font-size: '0.8rem';
    margin-top: 10px;
  }
  
  
  .form .accountText {
    margin-top: 10px;
      
  }